body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Roboto', sans-serif;
    color: blanchedalmond;
    margin: 0%;
}
h1{ 
    font-size: 50px;
}
h2{
    font-size: 45px;
}
.namecolored
{
    color: crimson;
}
section{
    display: flex;
}
.first-para
{
    width: 50%;
    padding-left: 10%;
    padding-top: 15%;
    padding-bottom: 5%;
}
.first-para img{
    width: 90%;
}
.blog-1{
    color: white;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 186, 55),gold);
    color: black;
    font-weight: 400;
    padding: 10px;
    border-radius: 15%;
}
.top-design{
    background-image: url(images/wallpaper2.png);
    background-repeat: no-repeat;
    opacity: 90%;
}
.middle-design{
    background-image: url(images/collosal2.png);
    background-repeat: no-repeat;
    opacity: 90%;
    
}
.second-para img{
    width: 90%;
}
.second-para{
    padding-left: 1%;
    padding-top: 15%;
    padding-bottom: 5%;
}